<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/top :: header" />
<body>
	<div th:replace="fragments/top :: content"></div>
	<div class="container">
		<div class="panel panel-default">
			<div th:if="${produto.id == null}">
				<div class="panel-heading">Novo produto</div>
			</div>
			<div th:if="${produto.id != null}">
				<div class="panel-heading">Edita produto</div>
			</div>
			<div class="panel-body">
				<form th:action="@{cadastraProduto}" th:object="${produto}"
					method="post" role="form" data-toggle="validator">
					<div class="form-group">
						<label for="nome"> Nome: </label> <input type="text"
							class="form-control" th:field="*{nome}" /> <span
							class="help-block with-errors" th:errors="*{nome}">[error]</span>
					</div>
					<div class="form-group">
						<label for="urlFoto"> Link da foto: </label> <input type="text"
							class="form-control" name="urlFoto" th:field="*{urlFoto}" /> <span
							class="help-block with-errors" th:errors="*{urlFoto}">[error]</span>
					</div>
					<div class="form-group">
						<label for="preco"> Preço: </label> <input type="text"
							class="form-control" name="preco" th:field="*{preco}" />
					</div>

					<div class="form-group">


						<div th:if="${produto.marca != null}">
							<label for="marca"> Marca: </label> <select class="form-control"
								th:field="*{marca}">
								<option th:each="marca : ${@marcas}" th:value="${marca.id}"
									th:text="${marca.nome}" />
							</select>
						</div>
					</div>


					<div class="form-group" th:if="${produto.id != null}">
						<input type="submit" class="btn btn-success" value="Atualizar" />
						<input type="hidden" name="id" th:field="*{id}" />
					</div>

					<div class="form-group" th:if="${produto.id == null}">
						<input type="submit" class="btn btn-success" value="Cadastrar" />
					</div>

					<input type="hidden" name="version" value="${produto.version}" />

				</form>
			</div>
		</div>
	</div>
</body>
</html>




